<div class='explorer'>
<link rel="stylesheet" href="assets/chessboardjs/css/chessboard-1.0.0.css" />
<link rel="stylesheet" href="assets/css/widget_boards.css" />
<h1>Maia Prediction Visualizer</h1>

<div class="view-container">

    <div class="model_selection_column">
        <h3>Select which models correctly predicted the players moves and view an example chess board:</h3>
        <div class="model_input">

            For a players with rating: &nbsp;
            <select name="player" class="elo-selector" id="player_elo" onchange="update_explorer(false)">
                <option value="1100">1100</option>
                <option value="1300">1300</option>
                <option value="1500" selected="selected">1500</option>
                <option value="1700">1700</option>
                <option value="1900">1900</option>
            </select>
        </div>

        <div class="model_input">
            <p>Where they &nbsp;</p>
            <label class="switch blunder_switch">
                <input type="checkbox" class="maia_toggle" id="is_blunder" onclick="update_explorer(false)" checked>
                <span class="text_slider blunder_slider"></span>
            </label>
        </div>

        <div class="model_input">
            And the board had: Few
            <input class="material-slider" type="range" min="1" max="10" value="5" id="material_count" oninput="update_explorer(true)" list="tickmarks">
            Many, pieces
        </div>

        <div class="model_input">
        <p>
            <span class="stockfish_text">Stockfish</span> &nbsp; predicted: &nbsp; &nbsp; <span class="move_text" id="sf_m_move">
                <span class="loading_text">Loading</span>
            </span>
            &nbsp; and was &nbsp;
        </p>
            <label class="switch">
                <input type="checkbox" class="maia_toggle" id="sf_m_toggle" onclick="update_explorer(false)">
                <span class="text_slider"></span>
            </label>
        </div>

        {% assign maia_indices = "1,3,5,7,9" | split: "," %}
        {% for maia_index in maia_indices %}
        <div class="model_input">
            <p>
            <span class="maia_1{{ maia_index }}00_text">Maia 1{{ maia_index }}00</span>&nbsp; predicted: &nbsp; <span class="move_text" id="maia_1{{ maia_index }}00_move">
                <span class="loading_text">Loading</span>
            </span>
            &nbsp; and was &nbsp;</p>
            <label class="switch">
                <input type="checkbox" class="maia_toggle" id="maia_1{{ maia_index }}00_toggle" onclick="update_explorer(false)"
                    {% if maia_index == '7' %}checked {% endif %}{% if maia_index == '9' %}checked {% endif %}>
                <span class="text_slider"></span>
            </label>
        </div>
        {% endfor %}

        <div class="info_panel">
            <p id='move_string'></p>
            <p id='count_string'></p>
            <p id='cp_string'><span class="loading_text">Loading</span></p>
        </div>
    </div>
    <div class="board-display">
        <div id="board-container">
            <div id="board-svg-container"></div>
            <div id="explorer-board" class="explorer-board">
                <h2>Loading</h2>
                <noscript>You need Javascript enabled to use this</noscript>
            </div>
        </div>
    <div class="legend">
        <div class='help-menu'><span class="arrow-human">&#8599; Green arrow</span> is the human's move and correctly predicted model's moves</div>
        <div class='help-menu'><span class="arrow-wrong">&#8599; Red arrow(s)</span> are the incorrectly predicted moves</div>
        <div class='help-menu'>
            <p id='fen_string'></p>
        </div>
        <div class='help-menu'><p id='url_string'></p></div>
    </div>
    </div>
</div>


<script src="assets/js/jquery.js"></script>
<script src="assets/chessboardjs/js/chessboard-1.0.0.js"></script>
<script src="assets/js/chess.js"></script>
<script src="assets/js/board-explorer-backend.js"></script>
<script>
    setup_explorer_board("{{ include.data_path }}")
</script>
</div>
