<link rel="stylesheet" href="assets/chessboardjs/css/chessboard-1.0.0.css" />
<link rel="stylesheet" href="assets/css/widget_boards.css" />
<script src="assets/js/jquery.js"></script>
<script src="assets/chessboardjs/js/chessboard-1.0.0.js"></script>
<script src="assets/js/chess.js"></script>
<script src="assets/js/board-explorer-backend.js"></script>


<div id="explorer-board" style="width: 100%;">
</div>

<script>
    var board = Chessboard(
        "explorer-board", {
        position: 'r1b1kbnr/ppqn1ppp/2pp4/4p3/2PP4/2N1P1B1/PP3PPP/R2QKBNR b KQkq - 1 6',
        draggable: false,
        sparePieces: false,
        dropOffBoard: 'trash',
    });

</script>
