:root {
  --sf-color: rgb(30, 160, 136);
  --player-color: rgb(107, 175, 221);
  --maia-1100-color: rgb(255, 169, 115);
  --maia-1200-color: rgb(250, 125, 94);
  --maia-1300-color: rgb(233, 84, 97);
  --maia-1400-color: rgb(201, 61, 115);
  --maia-1500-color: rgb(163, 48, 126);
  --maia-1600-color: rgb(126, 36, 130);
  --maia-1700-color: rgb(88, 21, 126);
  --maia-1800-color: rgb(50, 16, 103);
  --maia-1900-color: rgb(17, 12, 49);
}

.view-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

